node_modules
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
env/
venv/
.venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.cache

# Pytest cache
.pytest_cache/

# MyPy & Pylint
.mypy_cache/
.dmypy.json
.pyre/
.pytype/

# VSCode & IDE settings
.vscode/
.idea/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
